<mat-toolbar color="primary">
  <span>New App</span>
</mat-toolbar>


<div class="forms">

  <mat-form-field appearance="fill">
    <mat-label>Choose a category</mat-label>
    <mat-select  [formControl]="categoryFC">
      <mat-option *ngFor="let category of categories" [value]="category.optionKey">
        {{ category.optionLabel }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Filter by Name</mat-label>
    <input matInput (keyup)="searchTerm($event)">
  </mat-form-field>

  <ul>
    <li *ngFor="let item of filteredData">
      <p>{{ item.name }} - {{ item.category }}</p>
    </li>
  </ul>
</div>

